@model List<ejemplosFront.Models.PersonaViewModel>

@{
    ViewBag.Title = "Home Page";
}

<main>

    <div class="jumbotron">
        <form method="post" asp-action="Index" asp-controller="Home" class="form-inline text-center">
            <div class="form-group mb-2">
                <input type="text" class="form-control" name="ApellidoYNombre" placeholder="Buscar" />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>

        @foreach (var item in Model)
        {
            <h1> @item.Cuil </h1>
            <h2> @item.ApellidoYNombre </h2>
            <h3> @item.fechaNacimiento </h3>
        }


    </div>
</main>


