@model ejemplosFront.Models.PersonaViewModel 

@{
    ViewBag.Title = "Home Page";
}

<main>

    <div class="row-cols-2">
        <input type="text" name="filtro" value="" />
        <input type="submit" name="filtrar" value="" />    
    </div>
   
    <section class="row" aria-labelledby="aspnetTitle">
        @if (Model != null)
        {
            <h1> @Model.Cuil </h1>
            <h2> @Model.ApellidoYNombre </h2>
            <h3> @Model.fechaNacimiento </h3>
        }
    </section>
</main>