@model ejemplosFront.Models.PersonaViewModel

@{
    ViewBag.Title = "Home Page";
}

<main>

    <div class="jumbotron">
        <form method="post" asp-action="Index" asp-controller="Home" class="form-inline text-center">
            <div class="form-group mb-2">
                <input type="text" class="form-control" name="ApellidoYNombre" placeholder="Buscar" />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>

        @if (Model != null)
        {
            <h1> @Model.Cuil </h1>
            <h2> @Model.ApellidoYNombre </h2>
            <h3> @Model.fechaNacimiento </h3>
        }

    </div>
</main>


